

# Latex files
*.aux
*.bbl
*.blg
*_latexmk
*.fls
*.log
*.out
*.xml
*.synctex.gz
*-blx.bib
*.tex
*.pdf

# LLVM
*.ll
*.bc
*.rpt

# Build files
build

# Vivado
*.log
*.jou
*.str

/lab_graphs/niGraphs
/lab_graphs/dot
/lab_vitis_hls/*.prj
